&i2c2 {
    drv2605_0: drv2605@5a {
        compatible = "ti,drv2605";
        reg = <0x5a>;

        /* Library to use, 0 = Empty, 1-5 are ERM, 6 is LRA. */
        library = <2>;

        /* Switch to standby mode after idling for 1000ms */
        standby-ms = <1000>;
    };
};
